<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [8]:
!pip install sqlalchemy
#!pip install sqlalchemy==1.3.9

Requirement already satisfied: sqlalchemy in c:\miniconda3\lib\site-packages (1.3.9)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [9]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\miniconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\miniconda3\lib\site-packages (from ipython-sql) (3.11.0)
Requirement already satisfied: ipython in c:\miniconda3\lib\site-packages (from ipython-sql) (8.28.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Using cached SQLAlchemy-2.0.36-cp312-cp312-win_amd64.whl.metadata (9.9 kB)
Requirement already satisfied: sqlparse in c:\miniconda3\lib\site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in c:\miniconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\miniconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\miniconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\miniconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: decorator in c:\miniconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\miniconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\miniconda3\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\miniconda3\lib\site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in c:\miniconda3\lib\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\miniconda3\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\miniconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\miniconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\miniconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\miniconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\miniconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\miniconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\miniconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.3)
Using cached SQLAlchemy-2.0.36-cp312-cp312-win_amd64.whl (2.1 MB)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.36

In [24]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [25]:
import sqlite3
import pandas as pd

# Create a connection to the SQLite database
conn = sqlite3.connect('my_data1.db')

# Load the dataset into a Pandas DataFrame
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Write the DataFrame to an SQL table
df.to_sql("SPACEXTBL", conn, if_exists='replace', index=False)

101

**Note:This below code is added to remove blank rows from table**

In [34]:
# Create a connection to the SQLite database
conn = sqlite3.connect('my_data1.db')

# SQL query to drop the table if it exists
drop_table_query = '''
DROP TABLE IF EXISTS SPACEXTABLE;
'''

# SQL query to create the table
create_table_query = '''
CREATE TABLE SPACEXTABLE AS
SELECT * FROM SPACEXTBL
WHERE "Date" IS NOT NULL;
'''

# Execute the DROP TABLE query to remove the table if it exists
conn.execute(drop_table_query)
print("Table SPACEXTABLE dropped (if it existed).")

# Execute the CREATE TABLE query to create the new table
conn.execute(create_table_query)
print("Table SPACEXTABLE created successfully.")

# Verify the content of the new table by fetching the first 5 rows
query = "SELECT * FROM SPACEXTABLE"
df_result = pd.read_sql_query(query, conn)

# Display the result
print(df_result)

Table SPACEXTABLE dropped (if it existed).
Table SPACEXTABLE created successfully.
           Date Time (UTC) Booster_Version   Launch_Site  \
0    2010-06-04   18:45:00  F9 v1.0  B0003   CCAFS LC-40
1    2010-12-08   15:43:00  F9 v1.0  B0004   CCAFS LC-40
2    2012-05-22    7:44:00  F9 v1.0  B0005   CCAFS LC-40
3    2012-10-08    0:35:00  F9 v1.0  B0006   CCAFS LC-40
4    2013-03-01   15:10:00  F9 v1.0  B0007   CCAFS LC-40
..          ...        ...             ...           ...
96   2020-11-05   23:24:23    F9 B5B1062.1  CCAFS SLC-40
97   2020-11-16    0:27:00   F9 B5B1061.1     KSC LC-39A
98   2020-11-21   17:17:08    F9 B5B1063.1   VAFB SLC-4E
99   2020-11-25    2:13:00  F9 B5 B1049.7   CCAFS SLC-40
100  2020-12-06   16:17:08  F9 B5 B1058.4     KSC LC-39A

                                               Payload  PAYLOAD_MASS__KG_  \
0                 Dragon Spacecraft Qualification Unit                  0
1    Dragon demo flight C1, two CubeSats, barrel of...                  0
2                                Dragon demo flight C2                525
3                                         SpaceX CRS-1                500
4                                         SpaceX CRS-2                677
..                                                 ...                ...
96                                 GPS III-04 , Crew-1               4311
97                Crew-1, Sentinel-6 Michael Freilich               12500
98      Sentinel-6 Michael Freilich, Starlink 15 v1.0                1192
99                     Starlink 15 v1.0, SpaceX CRS-21              15600
100                                      SpaceX CRS-21               2972

         Orbit                      Customer Mission_Outcome  \
0          LEO                        SpaceX         Success
1    LEO (ISS)               NASA (COTS) NRO         Success
2    LEO (ISS)                   NASA (COTS)         Success
3    LEO (ISS)                    NASA (CRS)         Success
4    LEO (ISS)                    NASA (CRS)         Success
..         ...                           ...             ...
96         MEO                          USSF         Success
97   LEO (ISS)                    NASA (CCP)         Success
98         LEO  NASA / NOAA / ESA / EUMETSAT         Success
99         LEO                        SpaceX         Success
100  LEO (ISS)                    NASA (CRS)         Success

         Landing_Outcome
0    Failure (parachute)
1    Failure (parachute)
2             No attempt
3             No attempt
4             No attempt
..                   ...
96               Success
97               Success
98               Success
99               Success
100              Success

[101 rows x 10 columns]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [38]:
# Step 2: Define a function to run SQL queries
def run_query(query):
    return pd.read_sql_query(query, conn)

In [39]:
query_1 = 'SELECT DISTINCT "Launch_Site" FROM SPACEXTBL'
unique_launch_sites = run_query(query_1)
print(unique_launch_sites)

    Launch_Site
0   CCAFS LC-40
1   VAFB SLC-4E
2    KSC LC-39A
3  CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [40]:
query_2 = '''
SELECT * FROM SPACEXTBL
WHERE "Launch_Site" LIKE 'CCA%'
LIMIT 5;
'''
cca_launch_sites = run_query(query_2)
print(cca_launch_sites)

         Date Time (UTC) Booster_Version  Launch_Site  \
0  2010-06-04   18:45:00  F9 v1.0  B0003  CCAFS LC-40
1  2010-12-08   15:43:00  F9 v1.0  B0004  CCAFS LC-40
2  2012-05-22    7:44:00  F9 v1.0  B0005  CCAFS LC-40
3  2012-10-08    0:35:00  F9 v1.0  B0006  CCAFS LC-40
4  2013-03-01   15:10:00  F9 v1.0  B0007  CCAFS LC-40

                                             Payload  PAYLOAD_MASS__KG_  \
0               Dragon Spacecraft Qualification Unit                  0
1  Dragon demo flight C1, two CubeSats, barrel of...                  0
2                              Dragon demo flight C2                525
3                                       SpaceX CRS-1                500
4                                       SpaceX CRS-2                677

       Orbit         Customer Mission_Outcome      Landing_Outcome
0        LEO           SpaceX         Success  Failure (parachute)
1  LEO (ISS)  NASA (COTS) NRO         Success  Failure (parachute)
2  LEO (ISS)      NASA (COTS)         Success           No attempt
3  LEO (ISS)       NASA (CRS)         Success           No attempt
4  LEO (ISS)       NASA (CRS)         Success           No attempt

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [41]:
query_3 = '''
SELECT SUM("Payload_Mass__kg_") AS Total_Payload_Mass
FROM SPACEXTBL
WHERE "Customer" LIKE '%NASA (CRS)%';
'''
nasa_payload_mass = run_query(query_3)
print(nasa_payload_mass)

   Total_Payload_Mass
0               48213

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [42]:
query4 = '''
SELECT AVG("Payload_Mass__kg_") AS Average_Payload_Mass
FROM SPACEXTBL
WHERE "Booster_Version" = 'F9 v1.1';
'''

# Run the query and load the result into a DataFrame
average_payload_mass = run_query(query4)

# Display the result
print(average_payload_mass)

   Average_Payload_Mass
0                2928.4

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [45]:
query5 = '''
SELECT MIN("Date") AS First_Successful_Landing
FROM SPACEXTBL
WHERE "Landing_Outcome" LIKE '%Success%ground%';
'''

# Run the query and load the result into a DataFrame
first_successful_landing = run_query(query5)

# Display the result
print(first_successful_landing)

  First_Successful_Landing
0               2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [48]:
query6 = '''
SELECT "Booster_Version"
FROM SPACEXTBL
WHERE "Landing_Outcome" = 'Success (drone ship)'
AND "Payload_Mass__kg_" > 4000
AND "Payload_Mass__kg_" < 6000;
'''

# Run the query and load the result into a DataFrame
successful_drone_ship_boosters = run_query(query6)

# Display the result
print(successful_drone_ship_boosters)

  Booster_Version
0     F9 FT B1022
1     F9 FT B1026
2  F9 FT  B1021.2
3  F9 FT  B1031.2

### Task 7




##### List the total number of successful and failure mission outcomes

In [49]:
query7 = '''
SELECT "Landing_Outcome", COUNT(*) AS Outcome_Count
FROM SPACEXTBL
GROUP BY "Landing_Outcome";
'''

# Run the query and load the result into a DataFrame
mission_outcomes = run_query(query7)

# Display the result
print(mission_outcomes)

           Landing_Outcome  Outcome_Count
0       Controlled (ocean)              5
1                  Failure              3
2     Failure (drone ship)              5
3      Failure (parachute)              2
4               No attempt             21
5              No attempt               1
6   Precluded (drone ship)              1
7                  Success             38
8     Success (drone ship)             14
9     Success (ground pad)              9
10    Uncontrolled (ocean)              2

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [50]:
query8 = '''
SELECT "Booster_Version"
FROM SPACEXTBL
WHERE "Payload_Mass__kg_" = (
    SELECT MAX("Payload_Mass__kg_")
    FROM SPACEXTBL
);
'''

# Run the query and load the result into a DataFrame
max_payload_boosters = run_query(query8)

# Display the result
print(max_payload_boosters)

   Booster_Version
0    F9 B5 B1048.4
1    F9 B5 B1049.4
2    F9 B5 B1051.3
3    F9 B5 B1056.4
4    F9 B5 B1048.5
5    F9 B5 B1051.4
6    F9 B5 B1049.5
7   F9 B5 B1060.2
8   F9 B5 B1058.3
9    F9 B5 B1051.6
10   F9 B5 B1060.3
11  F9 B5 B1049.7

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [51]:
query9 = '''
SELECT 
    CASE 
        WHEN substr("Date", 6, 2) = '01' THEN 'January'
        WHEN substr("Date", 6, 2) = '02' THEN 'February'
        WHEN substr("Date", 6, 2) = '03' THEN 'March'
        WHEN substr("Date", 6, 2) = '04' THEN 'April'
        WHEN substr("Date", 6, 2) = '05' THEN 'May'
        WHEN substr("Date", 6, 2) = '06' THEN 'June'
        WHEN substr("Date", 6, 2) = '07' THEN 'July'
        WHEN substr("Date", 6, 2) = '08' THEN 'August'
        WHEN substr("Date", 6, 2) = '09' THEN 'September'
        WHEN substr("Date", 6, 2) = '10' THEN 'October'
        WHEN substr("Date", 6, 2) = '11' THEN 'November'
        WHEN substr("Date", 6, 2) = '12' THEN 'December'
    END AS Month_Name,
    "Booster_Version",
    "Launch_Site",
    "Landing_Outcome"
FROM SPACEXTBL
WHERE "Landing_Outcome" = 'Failure (drone ship)' 
AND substr("Date", 0, 5) = '2015';
'''

# Run the query and load the result into a DataFrame
failure_drone_ship_2015 = run_query(query9)

# Display the result
print(failure_drone_ship_2015)

  Month_Name Booster_Version  Launch_Site       Landing_Outcome
0    January   F9 v1.1 B1012  CCAFS LC-40  Failure (drone ship)
1      April   F9 v1.1 B1015  CCAFS LC-40  Failure (drone ship)

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [52]:
query10 = '''
SELECT "Landing_Outcome", COUNT(*) AS Outcome_Count
FROM SPACEXTBL
WHERE "Date" BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY "Landing_Outcome"
ORDER BY Outcome_Count DESC;
'''

# Run the query and load the result into a DataFrame
ranked_landing_outcomes = run_query(query10)

# Display the result
print(ranked_landing_outcomes)

          Landing_Outcome  Outcome_Count
0              No attempt             10
1    Success (drone ship)              5
2    Failure (drone ship)              5
3    Success (ground pad)              3
4      Controlled (ocean)              3
5    Uncontrolled (ocean)              2
6     Failure (parachute)              2
7  Precluded (drone ship)              1

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>